/*重置*/
*{
	margin: 0;
	padding: 0;
}
body{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFD_ywWt6VToSlOzI9xjXG8HM1lKcay7fDxRfOlXoA6x8D0YTj);
  background-repeat: repeat;
  background-position: center;
}
a.github:link{color: red;}
a.github:visited {color: grey;}	/* 已被访问的链接 */
a.github:hover {color: red;}	/* 鼠标指针移动到链接上 */
a.github:active {color: #0000FF;}	/* 正在被点击的链接 */
/*设置总体页面宽度1200px，margin上右下左依次为0, auto, 0, auto*/
.container {
	width: 1200px;
	margin: 0 auto;
}

h1{
	font-size: 32px;
	text-align: center;
	font-weight: bold;
}
/* 浮动，个人信息.person和头像.pic */
.clearfix:after{
	content: ""; 
	display: block; 
	height: 0; 
	clear: both;   
}
.clearfix {
	/* 触发 hasLayout */ 
	zoom: 1; 
}

/* 设置个人信息和图片，两栏分布 */
.name{
	font-size: 20px;
	font-weight: 800;
	margin-bottom: 20px;
}
.person{
	float: left;
	width: 500px;
	height: 150px;  
}
.pic {
	float: right;
	padding-right: 100px;
}
.info {
	line-height: 28px;
}
.myclass{
	color: white;
	background-color: black;
	letter-spacing: 4px;
}
/* 设置各分类标题 */
h4{
	font-size: 20px;
/* 	background-color: lightgrey; */
	margin-top: 10px;
	margin-bottom: 10px;
}
h4:before{
	content: 'o ';
	background-color: black;
	color: white;
	padding-left: 5px;
}
/* 设置页面三栏内容 */
.flex-top {
	display: flex;
}
.middle {
	flex-grow: 1;
	height: 30px;
}
.left {
	order: -1;
	flex: 0 1 200px;
	margin-right: 20px;
	height: 30px;
}
.right {
	flex: 0 1 700px;
	margin-left: 20px;
	height: 30px;
}
/* 设置工作内容及业绩 */
.flex-content{
	margin-bottom: 10px;
	/*   border-bottom: 1px solid lightgrey; */
	padding-bottom: 10px;
}
.flex-content > p {
	font-weight: 500;
	margin-top: 10px;
}
.flex-content ul {
	padding-left: 40px;
}
/* 设置自我评价板块 */
.self{
	text-indent: 2em;
	letter-spacing: 0.5px;
}