* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

/*自适应浏览器高度，这里使用绝对定位，还要同时使用top、bottom*/
.left-part .nav {
    width: 100px;
    background-color: #1d2531;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.left-part .nav .nav-list ul {
    list-style: none;
    padding: 20px;
}

.left-part .nav .nav-list ul li {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}

.left-part .nav .nav-list ul li a {
    text-decoration: none;
    color: #2d3848;
}

.left-part .nav .nav-list ul li.last {
    position: relative;
    width: 58px;
    height: 58px;
    border: 1px solid #2d3848;
    border-radius: 50%;
}
/*最后一个圆圈也是按钮来的，中间的➕需要绝对定位*/
.left-part .nav .nav-list ul li.last a {
    display: block;
    width: 58px;
    height: 58px;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -16px;
    margin-top: -40px;
}
