* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

/*自适应浏览器高度，这里使用绝对定位，还要同时使用top、bottom*/
.left-part .nav {
    width: 100px;
    background-color: #1d2531;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.left-part .nav .nav-list ul {
    list-style: none;
    padding: 20px;
}

.left-part .nav .nav-list ul li {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}

.left-part .nav .nav-list ul li a {
    text-decoration: none;
    color: #2d3848;
}

.left-part .nav .nav-list ul li.last {
    position: relative;
    width: 58px;
    height: 58px;
    border: 1px solid #2d3848;
    border-radius: 50%;
}

/*最后一个圆圈也是按钮来的，中间的➕需要绝对定位*/
.left-part .nav .nav-list ul li.last a {
    display: block;
    width: 58px;
    height: 58px;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -16px;
    margin-top: -40px;
}

/*底部的按钮也是用绝对定位*/
.left-part .setting p {
    position: absolute;
    left: 25px;
    bottom: 20px;
}

.left-part .setting p a {
    display: inline-block;
    padding-right: 15px;
}

/*左二*/
/*同样是绝对定位解决自适应浏览器高度*/
.left-part .menu-list {
    width: 250px;
    background-color: #222c3c;
    position: absolute;
    top: 0;
    left: 100px;
    bottom: 0;
}

.left-part .menu-list .inner {
    padding: 0 30px;
}

.menu-list .inner ul {
    list-style: none;
    padding: 17px 0;
    border-top: 1px solid #475364;
}

.menu-list .inner ul li a {
    text-decoration: none;
}

/*overflow，清除浮动，因为li左右两边浮动*/
.menu-list .inner li {
    overflow: hidden;
    font-size: 14px;
}

/*设置字体样式*/
.menu-list .inner li span {
    color: #b7c0cd;
}

.menu-list .inner li {
    padding-top: 20px;
}

.menu-list .inner li.last {
    padding-bottom: 18px;
}

.menu-list .inner li.first {
    font-size: 12px;
}

/*设置每个块第一行的字体样式*/
.menu-list .inner li.first span.title {
    color: #475364;
}

.menu-list .inner li .title {
    float: left;
}

/*列表的设置按钮*/
.menu-list .inner li .setting {
    float: right;
}

/*列表各项的消息提醒*/
.menu-list .inner li .msg {
    float: right;
    background-color: #289cf4;
    color: #ffffff;
    border-radius: 40%;
    padding: 0 4px;
}

.menu-list .inner li .error {
    float: right;
    background-color: red;
    color: #ffffff;
    border-radius: 50%;
    padding: 0 8px;
}

.menu-list .inner li .active {
    color: #ffffff;
}

/*设置setting图片尽量对齐文字k*/
.menu-list .inner li .msg img {
    margin-top: 10px;
}

.menu-list .inner .product .pic {
    padding-right: 14px;
}

/*goal底部固定*/
.menu-list .inner .goal {
    position: absolute;
    left: 30px;
    bottom: 10px;
}

.menu-list .inner .goal ul {
    border: none;
}

.menu-list .inner .goal ul .title {
    padding-right: 20px;
}

.menu-list .inner .goal .bar {
    display: block;
    height: 0;
    width: 190px;
    border: 3px solid #2d3848;
    border-radius: 10px;
}

/*右边*/
/*自适应宽度*/
.right-part {
    width: calc(100% - 350px);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 350px;
}

.right-part .header {
    overflow: hidden;
    height: 80px;
    border-bottom: 1px solid #e6e9ec;
    position: relative;
}

.right-part .header .msg {
    padding-left: 30px;
    padding-top: 30px;
}

/*用户头像、姓名等都固定在左上角，并用flex将盒子都横向排列*/
.right-part .header .user {
    width: 230px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 15px;
    right: 15px;
}

.right-part .header .user p.name {
    color: #00aaff;
}

/*设置下拉按钮*/
.right-part .header .user .xl a {
    display: inline-block;
    padding: 15px;
}

/*搜索框及好友列表*/
.right-part .content .left {
    width: 400px;
    height: calc(100% - 80px);
    position: absolute;
    top: 80px;
    left: 0;
    border-right: 1px solid #e6e9ec;
}

.right-part .content .friends {
    padding: 0 30px;
}

.right-part .content .banner {
    border-bottom: 1px solid #e6e9ec;
}

/*设置输入框*/
.right-part .content .banner input {
    position: relative;
    width: 338px;
    height: 32px;
    border: 1px solid #e6e9ec;
    border-radius: 4px;
}

/*放大镜位置*/
.right-part .content .banner .zoom {
    position: absolute;
    top: 25px;
    right: 40px;
}

/*设置搜索框内字体样式*/
.right-part .content .banner input::placeholder {
    color: #e6e9ec;
    font-size: 14px;
    padding: 12px 15px;
}

.right-part .content .banner form {
    padding: 18px 0;
}

.right-part .content .friends .friends-list ul {
    list-style: none;
}