* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

/*公共类*/
.inner_c {
    padding: 0 30px;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
}

.db {
    border-bottom: 1px solid #e6e9ec;
}

/*用fixed将左边固定，并用flex布局*/
.left-part {
    display: flex;
    width: 350px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 4;
}

.left-part .nav {
    width: 100px;
    background-color: #1d2531;
}

.left-part .nav .nav-list ul {
    list-style: none;
    padding: 20px;
}

.left-part .nav .nav-list ul li {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}

.left-part .nav .nav-list ul li a {
    text-decoration: none;
    color: #2d3848;
}

.left-part .nav .nav-list ul li.last {
    position: relative;
    width: 58px;
    height: 58px;
    border: 1px solid #2d3848;
    border-radius: 50%;
}

/*最后一个圆圈也是按钮来的，中间的➕需要绝对定位*/
.left-part .nav .nav-list ul li.last a {
    display: block;
    width: 58px;
    height: 58px;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -16px;
    margin-top: -40px;
}

/*底部的按钮也是用绝对定位*/
.left-part .setting p {
    position: absolute;
    left: 25px;
    bottom: 20px;
}

.left-part .setting p a {
    display: inline-block;
    padding-right: 15px;
}

/*左二*/
/*同样是绝对定位解决自适应浏览器高度*/
.left-part .menu-list {
    width: 250px;
    background-color: #222c3c;
}

.left-part .menu-list .inner {
    padding: 0 30px;
}

.menu-list .inner ul {
    list-style: none;
    padding: 17px 0;
    border-top: 1px solid #475364;
}

.menu-list .inner ul li a {
    text-decoration: none;
}

/*overflow，清除浮动，因为li左右两边浮动*/
.menu-list .inner li {
    overflow: hidden;
    font-size: 14px;
}

/*设置字体样式*/
.menu-list .inner li span {
    color: #b7c0cd;
}

.menu-list .inner li {
    padding-top: 20px;
}

.menu-list .inner li.last {
    padding-bottom: 18px;
}

.menu-list .inner li.first {
    font-size: 12px;
}

/*设置每个块第一行的字体样式*/
.menu-list .inner li.first span.title {
    color: #475364;
}

.menu-list .inner li .title {
    float: left;
}

/*列表的设置按钮*/
.menu-list .inner li .setting {
    float: right;
}

/*列表各项的消息提醒*/
.menu-list .inner li .msg {
    float: right;
    background-color: #289cf4;
    color: #ffffff;
    border-radius: 40%;
    padding: 0 4px;
}

.menu-list .inner li .error {
    float: right;
    background-color: red;
    color: #ffffff;
    border-radius: 50%;
    padding: 0 8px;
}

.menu-list .inner li .active {
    color: #ffffff;
}

/*设置setting图片尽量对齐文字k*/
.menu-list .inner li .msg img {
    margin-top: 10px;
}

.menu-list .inner .product .pic {
    padding-right: 14px;
}

/*子绝父相，为了设置底部目标*/
.menu-list {
    position: relative;
}

/*goal底部固定*/
.menu-list .inner .goal {
    position: absolute;
    left: 30px;
    bottom: 10px;
}

.menu-list .inner .goal ul {
    border: none;
}

.menu-list .inner .goal ul .title {
    padding-right: 20px;
}

.menu-list .inner .goal .bar {
    display: block;
    height: 0;
    width: 190px;
    border: 3px solid #2d3848;
    border-radius: 10px;
}

/*右边*/
/*自适应高度*/
.right-part {
    width: calc(100% - 350px);
    height: 100vh;
    margin-left: 350px;
}

.right-part .header {
    height: 80px;
    border-bottom: 1px solid #e6e9ec;
}

.right-part .header .msg {
    padding-left: 30px;
    padding-top: 30px;
}

/*用户头像、姓名等都固定在左上角，并用flex将盒子都横向排列*/
.right-part .header .user {
    width: 230px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 15px;
    right: 15px;
}

.right-part .header .user p.name {
    color: #00aaff;
}

/*设置下拉按钮*/
.right-part .header .user .xl a {
    display: inline-block;
    padding: 15px;
}

/*使用flex设置右边内容左右布局*/
.right-part .content {
    display: flex;
}

.right-part .content .left {
    width: 400px;
    border-right: 1px solid #e6e9ec;
}

/*设置输入框*/
.right-part .content .banner input {
    width: 338px;
    height: 32px;
    border: 1px solid #e6e9ec;
    border-radius: 4px;
}

/*放大镜的父容器*/
.right-part .content .banner {
    position: relative;
}

/*放大镜位置*/
.right-part .content .banner .zoom {
    position: absolute;
    top: 25px;
    right: 40px;
}

/*设置搜索框内字体样式*/
.right-part .content .banner input::placeholder {
    color: #e6e9ec;
    font-size: 14px;
    padding: 12px 15px;
}

.right-part .content .banner form {
    padding: 18px 0;
}

/*好友动态列表*/
/*用户头像/用户名、动态发表时间，使用flex布局*/
.right-part .content .friends .friend .user {
    display: flex;
    justify-content: space-between;
}

.right-part .content .friends .friend .user .pic {
    display: flex;
    padding: 15px 0 10px;
}

/*头像和用户名在同个盒子下，设置margin*/
.right-part .content .friends .friend .user div.name {
    margin-left: 18px;
}

/*设置好友消息样式*/
.right-part .content .friends .friend p {
    font-size: 14px;
    color: #b1b3b9;
}

/*没有被选中的用户名为深灰色*/
.right-part .content .friends .friend .user p.name {
    font-size: 16px;
    color: #6e737c;
    font-weight: bold;
}

/*当前选中用户的用户名为蓝色，并有蓝色小圆点*/
.right-part .content .friends .friend .user p.active {
    font-size: 16px;
    color: #00aaff;
}

/*设置蓝色小圆点*/
.right-part .content .friends .friend .user p.active span {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 6px;
    background-color: #00aaff;
}

/*日期字体*/
.right-part .content .friends .friend .user .date {
    padding-top: 15px;
    font-size: 14px;
    line-height: 36px;
    color: #b1b3b9;
    font-weight: bold;
}

.right-part .content .friends .friend div.article {
    display: flex;
    margin-bottom: 15px;
}

/*设置消息提示数背景*/
.right-part .content .friends .friend .num {
    color: white;
    width: 20px;
    height: 20px;
    padding: 0 5px;
    margin-top: 5px;
    border-radius: 50%;
    background-color: #00aaff;
}

/*右边第二列*/
.right-part .content .chat {
    flex: 1;
}

.right-part .content .chat .history {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e6e9ec;
}

/*所有的名字颜色一致*/
.right-part .content .chat .name {
    color: #585d68;
}

.right-part .content .chat .history span {
    display: inline-block;
}

.right-part .content .chat .history .friend {
    line-height: 70px;
}

.right-part .content .chat .history .friend .dot {
    margin-left: 8px;
    width: 5px;
    height: 5px;
    background-color: #1bb934;
    border-radius: 50%;
    /*微调小绿点位置*/
    position: relative;
    top: -2px;
    left: 0;
}

.right-part .content .chat .history .group {
    display: flex;
    overflow: hidden;
    line-height: 70px;
    color: #ccd1dc;
}

.right-part .content .chat .history .group ul {
    padding-top: 20px;
}

.right-part .content .chat .history .group ul li {
    list-style: none;
    float: left;
    width: 35px;
    height: 30px;
    text-align: center;
    border: 1px solid #e6e9ec;
}

/*设置整个按钮框都是可以点击的*/
.right-part .content .chat .history .group ul li a {
    display: block;
    width: 35px;
    height: 30px;
    padding-top: 25%;
}

/*设置按钮边框*/
.right-part .content .chat .history .group ul li.first {
    border-radius: 4px 0 0 4px;
}

.right-part .content .chat .history .group ul li.last {
    border-radius: 0 4px 4px 0;
}

.right-part .content .chat .history .group ul li.middle {
    border-right: none;
    border-left: none;
}

.right-part .content .chat .history .group .page li.first {
    border-right: none;
}

/*竖线*/
.right-part .content .chat .group .sx {
    float: right;
    margin-top: 25px;
    margin-bottom: 20px;
    padding: 0 1px;
    background-color: #ccd1dc;
}

.right-part .content .chat .group div {
    margin-right: 30px;
}