* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*设置背景图片*/
.container {
    width: 1600px;
    /*height: 6274px;*/
    background-image: url(../images/Background.png);
    background-repeat: no-repeat;
    margin: 0 auto;
}

/*统一设置*/
p.subtitle {
    color: #848179;
}

.container > div {
    border-bottom: 1px solid #6c736f;
}

/*第一版*/
.first {
    height: 990px;
    text-align: center;
}

.welcome {
    padding-top: 200px;
}

/*welcome设置为block，并设置文字样式*/
.welcome span {
    display: block;
    width: 50%;
}

.welcome .title {
    width: 1600px;
    font-size: 62px;
    padding-bottom: 72px;
    color: white;
}

.welcome .subtitle {
    margin: 0 auto;
    width: 770px;
    font-size: 20px;
    line-height: 32px;
    padding-bottom: 103px;
    color: #848179
}

/*设置表单样式*/
.signup {
    padding: 50px 0 66px 0;
    margin: 0 250px;
    border: 1px solid #6c736f;
}

.signup .signup-words span {
    display: block;
}

/*表单上部分*/
.signup-1 {
    font-size: 16px;
    line-height: 28px;
    color: #bfbebd;
}

.signup-2 {
    font-size: 12px;
    color: #6c736f;
    margin-bottom: 47px;
}

/*真正的额表单部分*/
form input {
    /*设置input框背景色为透明*/
    background-color: transparent;
    -moz-appearance: none;
    border-radius: 4px;
    height: 48px;
    width: 290px;
    margin: 0 15px;
    border: 1px solid #6c736f;
}

/*设置输入框内提示语样式*/
form input::placeholder {
    padding-left: 20px;
}

#email::placeholder {
    color: #bfbebd;
}

/*设置按钮*/
.signup-button {
    margin-left: 15px;
    height: 50px;
    width: 126px;
    border-radius: 4px;
    border: 1px solid #6c736f;

}

/*设置第二版*/
.second {
    height: 712px;
}

.second .upper {
    margin: 88px auto;
    text-align: center;
}

/*描述语*/
.second .upper-line {
    font-size: 42px;
    line-height: 52px;
    color: #141414;
    margin: 44px 450px 0 450px;
}

.second .lower {
    display: flex;
    margin: 0 285px;
}

.second .lower ul {
    flex: 1;
}

.second .lower ul li {
    display: flex;
    padding-bottom: 88px;
}

.second .lower ul li p {
    flex: 1;
    width: 363px;
    padding-left: 20px;
}

.clearfix .info .title {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 25px;
}

/*设置第三版*/
.third {
    overflow: hidden;
    height: 784px;
    background-image: url(../images/Background-2.png);
    background-repeat: no-repeat;
}

.third .left {
    float: left;
    margin-top: 166px;
    margin-bottom: 182px;
    padding-left: 313px;
}

.left-info .title {
    width: 370px;
    height: 141px;
    color: white;
    font-size: 40px;
    line-height: 52px;
    padding-bottom: 52px;
    margin-bottom: 50px;
}

.left-info .subtitle {
    width: 370px;
    color: #c8c9c1;
    font-size: 16px;
    line-height: 28px;
    padding-bottom: 52px;
}

.button-field input {
    height: 60px;
    width: 240px;
    border-radius: 4px;
    text-align: center;
    border: 1px solid #6c736f;
}

.button-field .product {
    margin-left: 32px;
    background-color: transparent;
}

.button-field .product::placeholder {
    color: white;
}

.third .right {
    float: right;
    margin-right: 0;
}

/*ipad外框*/
.third .right .right-outer {
    width: 604px;
    height: 600px;
    margin-top: 80px;
    margin-bottom: 96px;
    border: 1px solid #6c736f;
    border-radius: 30px 0 0 30px;
}

/*圆圈*/
.third .right .right-outer .circle {
    position: absolute;
    width: 10px;
    height: 10px;
    margin: 298px 23px;
    border: 1px solid #6c736f;
    border-radius: 50%;
}

/*iPad内框*/
.third .right .right-outer .right-inner {
    width: 585px;
    height: 538px;
    margin: 30px 0 30px 60px;
    border: 1px solid #6c736f;
}

.third .right img {
    width: 578px;
    height: 537px;
}

/*第四版页面*/
.fourth {
    margin: 0 auto;
}

.try-awesome {
    margin-top: 100px;
    text-align: center;
    font-size: 42px;
    line-height: 52px;
}

.fourth .details {
    display: flex;
    margin-left: 280px;
    margin-right: 230px;
}

.fourth .details div p:first-child {
    padding-bottom: 40px;
}

.fourth .details div {
    flex: 1;
    text-align: center;
    margin: 80px 42px;
}

/*第五版页面*/
/*.fifth {*/
/*border-bottom: 1px solid #6c736f;*/
/*}*/

.fifth .upper {
    display: flex;
    margin: 117px 315px 80px 315px;
}

.fifth .lower {
    display: flex;
    margin: 0 315px 106px 315px;
}

.fifth .pic img {
    height: 350px;
    width: 570px;
}

.fifth .upper .pic {
    margin-right: 80px;
}

.fifth .lower .pic {
    margin-left: 80px;
}

.fifth .detail .title {
    font-size: 20px;
    line-height: 32px;
    font-weight: bold;
    margin-bottom: 33px;
}

.fifth .detail .info {
    font-size: 16px;
    line-height: 28px;
}

/*第六版页面*/
/*.sixth {*/
/*border-bottom: 1px solid #6c736f;*/
/*}*/

.sixth .upper {
    text-align: center;
    width: 700px;
    margin: 100px 450px 66px 450px;
}

.sixth .upper .title {
    font-size: 42px;
    line-height: 52px;
    margin-bottom: 30px;
}

.sixth .upper .info {
    font-size: 18px;
    line-height: 28px;
}

.list-items ul {
    margin: 0 280px 70px 310px;
}

.list-items ul li {
    display: inline-block;
    list-style-type: none;
    margin: 0 30px 30px 0;
}

/*设置整个over类的相关信息*/
.over {
    width: 470px;
    height: 340px;
    text-align: center;
    background-color: black;
    /*none及不显示，z-index可以让over类处于多层叠加的上面*/
    display: none;
    z-index: 9;
}

/*设置成员的名字及专业*/
.over .user .name {
    padding-top: 90px;
    padding-bottom: 15px;
    font-size: 20px;
    line-height: 28px;
    color: white;
}

.over .user .major {
    padding-bottom: 30px;
    font-size: 15px;
    line-height: 20px;
    color: lightgrey;
    margin-bottom: 20px;
}

/*设置链接大小及边框*/
.over .content a {
    width: 50px;
    height: 50px;
    padding: 13px;
    border: 1px solid #acacac;
    border-radius: 50%;
    margin: 10px;
}

/*设置社交图片统一大小*/
.over .content a img {
    height: 20px;
    width: 20px;
}

/*.类over是要覆盖住图片的，所以父元素为relative
子元素over为absolute，这样就可以浮起来*/
.list-items ul li.intro {
    position: relative;
}

.list-items li.intro .over {
    position: absolute;
    top: 0;
    left: 0;
}

.list-items li.intro:hover .over {
    /*设置over为block，显示over的信息*/
    display: inline-block;
    /*修改鼠标样式*/
    cursor: pointer;
    /*设置图片变暗/透明*/
    -moz-opacity: 0.6;
    opacity: 0.6;
}

/*第七版页面*/
.seventh {
    display: flex;
}

.seventh .left {
    width: 470px;
    margin: 70px 45px 70px 315px;
    padding: 0 50px 30px 50px;
    text-align: center;
    border: 1px solid #6c736f;
    border-radius: 4px;
}

.seventh .left p {
    width: 370px;
    font-size: 16px;
    line-height: 32px;
    font-weight: bold;
    margin: 40px auto;
}

/*输入框*/
.E-mail, .Subject, .Message, .send {
    width: 370px;
    display: block;
    margin-bottom: 30px;
    border: 1px solid #6c736f;
    border-radius: 2px;
}

.E-mail, .Subject, .send {
    height: 50px;
}

.Message {
    height: 142px;
}

.send {
    color: white;
    background-color: black;
}

.Message::placeholder, .Subject::placeholder, .E-mail::placeholder {
    padding-left: 20px;
    padding-top: 22px;
    color: #6c736f;
}

.seventh .right {
    width: 370px;
    height: 350px;
    margin: auto 310px auto 100px;
}

.seventh .right div .title {
    font-size: 42px;
    line-height: 52px;
    font-weight: bold;
}

.seventh .right div .info {
    font-size: 16px;
    line-height: 26px;
    margin: 45px 0 35px 0;
}

.seventh .right .pic {
    display: flex;
    margin-top: 40px;
}

.seventh .right .pic .detail {
    margin-left: 20px;
}

/*footer*/
.footer {
    background-color: black;
}

.footer .inner {
    padding: 80px 215px;
    display: flex;
    justify-content: space-between;
}

.footer .inner p.detail {
    color: white;
}

.footer .inner p {
    width: 270px;
    margin-bottom: 30px;
}
